<mat-tab-group animationDuration="1000ms" class="internship-form-tabs">
  <mat-tab label="Details">
    <ng-template matTabContent>
      <whizard-details-tab
        class="flex flex-col h-[85dvh]"
        whizardScrollbar="true"
        [whizardScrollbarOptions]="{
          suppressScrollX: true,
          wheelPropagation: true,
        }"
        [formValue]="formValue()"
        [cities]="cities()"
        [industryRoles]="industryRoles()"
        (formChanged)="formChanged.emit($event)"
      />
    </ng-template>
  </mat-tab>

  <mat-tab label="Screening Criteria">
    <ng-template matTabContent>
      <whizard-screening-criteria-tab
        class="flex flex-col h-[85dvh]"
        whizardScrollbar="true"
        [whizardScrollbarOptions]="{
          suppressScrollX: true,
          wheelPropagation: true,
        }"
        [formValue]="formValue()"
        (formChanged)="formChanged.emit($event)"
      />
    </ng-template>
  </mat-tab>

  <mat-tab label="Selection">
    <ng-template matTabContent>
      <whizard-selection-tab
        class="flex flex-col h-[85dvh]"
        whizardScrollbar="true"
        [whizardScrollbarOptions]="{
          suppressScrollX: true,
          wheelPropagation: true,
        }"
        [formValue]="formValue()"
        (formChanged)="formChanged.emit($event)"
      />
    </ng-template>
  </mat-tab>

  <mat-tab label="During Internship">
    <ng-template matTabContent>
      <whizard-during-internship-tab
        class="flex flex-col h-[85dvh]"
        whizardScrollbar="true"
        [whizardScrollbarOptions]="{
          suppressScrollX: true,
          wheelPropagation: true,
        }"
        [formValue]="formValue()"
        (formChanged)="formChanged.emit($event)"
      />
    </ng-template>
  </mat-tab>

  <mat-tab label="Final Submission">
    <ng-template matTabContent>
      <whizard-final-submission-tab
        class="flex flex-col h-[85dvh]"
        whizardScrollbar="true"
        [whizardScrollbarOptions]="{
          suppressScrollX: true,
          wheelPropagation: true,
        }"
        [formValue]="formValue()"
        (formChanged)="formChanged.emit($event)"
      />
    </ng-template>
  </mat-tab>
</mat-tab-group>
