.active {
  background: var(--color-wrcf-bg-selected);
  border-left-color: var(--color-wrcf-accent);
  color: var(--color-wrcf-accent);
}

.active mat-icon {
  opacity: 1;
  color: var(--color-wrcf-accent);
}
